.container
    max-width: 950px
    margin: 0 auto

@import "variables"
@import "mixins"
@import "general"
@import "media"
@import "promo"
@import "header"
@import "buttons"
@import "tittles"
@import "advantages"
@import "consultation"
@import "forms"
@import "carousel"
@import "catalog"
@import "feed"
@import "footer"
@import "modal"
*
    font-family: 'Museo Sans Cyrl', sans-serif    